<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beta Homebase</title>
</head>
<body>
  <h1>Need a repair? Create a work order for it by clicking the button below</h1>
  <a href="/orders">New Work Order</a>
  <script src="server.js"></script>
</body>
</html>