<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Work Orders</h1>
  <ul>
    <%  %>
  </ul>

  <form action="/orders/createOrder" method="POST">
    <input type="text" placeholder="Enter Work Order" name="workOrder">
    <input type="submit">
  </form>
  <script src="js/main.js"></script>
</body>
</html>